$yesteryear: 'Yesteryear', cursive;
$raleway: 'Raleway', sans-serif;
// Non-modular or client styles for .l-header region.
.header-top {
	background-color: #000000;
	height: 70px;	
	width: 100%;
	color: white;
	a {
		color: white;
	}
	#site-name {
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 18px;
	}
	.top_login_block {
		margin-top: 18px;
		p {
			text-align:right;
		}
	}	
}

#block-topiconmenu {
	width: 100%;
	margin:0;
	padding:3px;
	position: absolute;
	z-index: 99;
	background-color: rgba(255,186,0,0.10);
		
	& > div {
		@include grid-row();
		@include grid-column(12);
		float: none !important;		
	}
	ul.icon_menus {
		width: 100%;
		li {
			position: relative;
			list-style: none;
			float:left;
			display: block;
			width: 20%;			
			a {
				display: block;
				width: 100%;
				color: white;
				height: 80px;
				font-family: $raleway;
				font-weight: regular;
				text-transform: uppercase;
				background-image: url(../images/menu_icons.png);
				background-repeat: no-repeat;
				background-position: center top;
				transition: 0.5s;
				.icon_menu_text {
					position: absolute;
					bottom: 0px;
					text-align: center;
					width: 100%;
				}
				&:hover {
					color: #ff6600;
				}
			}
		}
		.menu_sessions a {
			background-position-y: 0px;			
		}
		.menu_sponsors a {
			background-position-y: -95px;
		}
		.menu_attend a {
			background-position-y: -195px;			
		}
		.menu_locate a {
			background-position-y: -295px;				
		}
		.menu_update a {
			background-position-y: -390px;							
		}

		.menu_sessions a:hover {
			background-position-y: 5px;			
		}
		.menu_sponsors a:hover {
			background-position-y: -90px;
		}
		.menu_attend a:hover {
			background-position-y: -190px;			
		}
		.menu_locate a:hover {
			background-position-y: -290px;				
		}
		.menu_update a:hover {
			background-position-y: -385px;							
		}

		
	}
}

#block-banner {
	background-image: url('../images/bg_front_banner.jpg');
	background-size: cover;
	.field-block-content--body {
		@include grid-row();
	}
	.front_banner_left {
		float:left;
		@include grid-column(4);
		margin-top: 200px;
		margin-bottom: 50px;		
	}
	.front_banner_right {
		float:left;
		@include grid-column(8);
		margin-top: 250px; 
		margin-bottom: 50px;		
	}
	.front_line_1,
	.front_line_2,
	.front_line_3,
	.front_line_4 {
		-webkit-text-shadow: 0 0 5px rgba(0,0,0,1);
		-moz-text-shadow: 0 0 5px rgba(0,0,0,1);
		-o-text-shadow: 0 0 5px rgba(0,0,0,1);
		text-shadow: 0 0 5px rgba(0,0,0,1);	
	}	
	
	.front_line_1 {
		  font-size: 30px;
		  font-family: $raleway;
		  color: rgb(187, 220, 229);
		  font-weight: bold;
		  line-height: 1.667;
		  text-align: center;
		  -moz-transform: matrix( 2.18785763349866,0,0,2.18785763349865,0,0);
		  -webkit-transform: matrix( 2.18785763349866,0,0,2.18785763349865,0,0);
		  -ms-transform: matrix( 2.18785763349866,0,0,2.18785763349865,0,0);
		  text-transform: uppercase;
		  position: relative;
			top: -70px;
			lefT: -100px;
	}
	.front_line_2 {
	  font-size: 30px;
	  font-family: $yesteryear;
	  color: rgb(255, 255, 255);
	  line-height: 1.667;
	  text-align: center;
	  -moz-transform: matrix( 8.53343358383897,-2.28652663745427,2.28652663745428,8.53343358383897,0,0);
	  -webkit-transform: matrix( 8.53343358383897,-2.28652663745427,2.28652663745428,8.53343358383897,0,0);
	  -ms-transform: matrix( 8.53343358383897,-2.28652663745427,2.28652663745428,8.53343358383897,0,0);
	  text-transform: lowercase;
	  .manila_capital {
	  	text-transform: capitalize;
	  }
	}
	.front_line_3 {
	  font-size: 30px;
	  font-family: $raleway;
	  color: rgb(187, 220, 229);
	  font-weight: bold;
	  line-height: 1.667;
	  text-align: center;
	  -moz-transform: matrix( 3.22611988586354,0,0,3.22611988586353,0,0);
	  -webkit-transform: matrix( 3.22611988586354,0,0,3.22611988586353,0,0);
	  -ms-transform: matrix( 3.22611988586354,0,0,3.22611988586353,0,0);
	position: relative;
	left: 200px;
	top: 30px;	  
	}
	.front_line_4 {
		height: 100px;
		a {
		  font-size: 60px;
		  font-family: $raleway;
		  color: rgb(255, 255, 255);
		  line-height: 0.394;
		  -moz-transform: matrix( 0.45725464087805,0,0,0.45562869674365,0,0);
		  -webkit-transform: matrix( 0.45725464087805,0,0,0.45562869674365,0,0);
		  -ms-transform: matrix( 0.45725464087805,0,0,0.45562869674365,0,0);
		  position: relative;
		  left: -50px;
		  top: 100px;
		  background-color: #e67c47;
		  font-weight: bolder;
		  &:hover {
			background-color: darken(#e67c47, 20%);	  
		  }
		}
		
		a:after {
			content: "]";
			color: white;
			font-weight: bolder;
			font-size: 60px;
			margin-left:10px;
		}
		a:before {
			content: "[";
			color: white;
			font-weight: bolder;	
			font-size: 60px;					
			margin-right:10px;
		}

	}

}

.block-views-block-slides-block-1 {
	padding-top: 50px;
	font-family: $raleway;
	background-color: #002b48;
	& > div {
		@include grid-row();
		@include grid-column(12);
		float: none !important;		
	}
	.views-field-title {
		@include grid-column(7);
		font-size: 60px;	
		font-weight: 800;
		a {
			color: #b1d9f4;	
		}
	}
	.views-field-field-subtitle {
		@include grid-column(7);
		font-size: 36px;
		color: #f3bd54;
		font-weight: 800;
	}
	.views-field-field-subtitle-tinyinfo {
		@include grid-column(7);
		font-size: 24px;
		color: #f3bd54;
		font-weight: 800;	
	}
	.views-field-body {
		@include grid-column(7);
		font-size: 30px;
		color: #FFFFFF;
		font-weight: regular;	
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.views-field-field-slide-link {
		@include grid-column(7);		
		a {
			font-weight: 800;
			font-size: 30px;
			background-color: #e67c47;
			color: white;
			padding: 5px;
		}
	}
	.views-field-field-slide-image {
		@include grid-column(4);	
		float: right;
		margin-right:0;
		margin-left:0;
		img {
			width: 90%;
			-webkit-border-radius: 300px;
			-moz-border-radius: 300px;
			-o-border-radius: 300px;
			border-radius: 300px;
		}
	}
}